<div id="<%= dom_id bet %>">
  <p>
    <strong>Team:</strong>
    <%= bet.team %>
  </p>

  <p>
    <strong>Score difference:</strong>
    <%= bet.score_difference %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bet.user_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= bet.game_id %>
  </p>

</div>
