<p style="color: green"><%= notice %></p>

<%= render @bet %>

<div>
  <%= link_to "Edit this bet", edit_game_bet_path(@bet) %> |
  <%= link_to "Back to bets", game_bets_path %>

  <%= button_to "Destroy this bet", [@game, @bet], method: :delete %>
</div>
