
<div id="<%= dom_id game %>">
  <table style="table-layout:fixed"; class="table table-striped table-bordered table-hover">
        <td style="width:10%; vertical-align: middle"><strong> <%= game.team_home ? game.team_home.name : "undefined"%></strong></td>
        <td style="width:10%; vertical-align: middle"><strong> <%= game.team_away ? game.team_away.name : "undefined"%></strong></td>
        <td style="width:3%; vertical-align: middle"><%= game.score_home %></td>
        <td style="width:3%; vertical-align: middle"><%= game.score_away %></td> 
        <td style="vertical-align: middle"><%= link_to "Show this game", game, class: "btn btn-secondary" %></td>
  </table>
</div>

