<!DOCTYPE html>
<html>
  <head>
    <title>BettingSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
  <body style="background-color:#a8a8a5;">
    <a class="navbar-brand" href="#">NBA betting</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/games">Home</a>
        </li>
        <li class="nav-item">
        <%= link_to "Games", games_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Teams", teams_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/games">Sign Up</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/games">Sign In</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/games">Logout </a>
        </li>
        <li class="nav-item">
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 

    <%= yield %>
  </body>
</html>
